.obsidian/app.json
.obsidian/appearance.json
.obsidian/hotkeys.json
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.trash/
.obsidian/core-plugins.json
.obsidian/icons/**
.obsidian/plugins/recent-files-obsidian/data.json
